<h3>Reactivo</h3>

<form [formGroup]="formulario" (ngSubmit)="registrate()">
  <div>
    <label for="usuario">Usuario</label>
    <input type="text" id="usuario" formControlName="usuario">
    <app-error-form *ngIf="formulario.controls.usuario.errors" [error]="formulario.controls.usuario.errors"></app-error-form>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email">
    <app-error-form *ngIf="formulario.controls.email.errors" [error]="formulario.controls.email.errors"></app-error-form>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="password" formControlName="password">
    <app-error-form *ngIf="formulario.controls.password.errors" [error]="formulario.controls.password.errors"></app-error-form>
  </div>

  <div>
    <label for="pais">País</label>
    <select formControlName="pais" id="pais">
      <option value="es">España</option>
      <option value="fr">Francia</option>
      <option value="it">Italia</option>
    </select>
  </div>

  <div>
    <label for="telefono">Teléfono</label>
    <input type="tel" id="telefono" formControlName="telefono">
    <!-- <app-error-form *ngIf="formulario.errors" [error]="formulario.errors"></app-error-form> -->
  </div>

  <button type="submit" [disabled]="formulario.invalid">Guardar datos</button>
</form>